/* ==========================================================================
Main page styles
========================================================================== */
body {
  background-color: rgb(35, 71, 78);
}

h2 {
  color: #000;
}

.graph {
  display: inline-block;
  width: 110%;
  height: 497px;
  margin-top: 100px;
  //background: url('../../../content/images/tempGraph.png') no-repeat center top;
  background-size: contain;
}

.backgroundArea {
  background: url('../../../content/images/homeBackground.jpeg') no-repeat top;
  background-size: cover;
}

.Alert {
  color: #0fa69e;
}